@font-face {
    font-family: 'BarlowCondensed';
    src: url(../../fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf),
    url(../../fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf);
}
.header{
    display: flex;
    justify-content: space-between;
    font-family:'BarlowCondensed';  
}

a {
    text-decoration: none;
    color: black;
}

p{
    font-size: 28px;
    font-weight: bold;
}

.logo{
    display: flex;
    justify-content: space-between;
    width: fit-content;
}

.logo img{
    width: 80px;
    height: 80px;
}

.logo p{
    margin-left: 16px;
    align-self: center;

}

.username-logout{
    display: flex;
    width: fit-content;
    align-items: center;
}

.username{
    display: flex;
    margin-right: 16px;
}

.username img{
    width: 40px;
    height: 40px;   
}

.username p{
    align-self: center;
    color: #0088CC;
}

.username-logout button{
    font-family: 'BarlowCondensed';
    font-size: 28px;
    font-weight: bold;
    color: white;
    background-color: #0088CC;
    text-align: center;
    border-style: none;
    border-radius: 12px;
    width: 105px;
    height: 42px;
}

button:hover{
    cursor: pointer;
    background-color: #1799da;
}

.nav{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 24px;
    font-family: 'BarlowCondensed';
}

.nav a{
    text-decoration: none;
    color: black;
    margin: 0 8px;
}

.nav a:hover{
    color: #0088CC;
    font-weight: bold;
}

.nav a.active{
    color: #0088CC;
    font-weight: bold;
}
