.transactions-panel{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: left;
    align-items: left;
    padding-left: 44px;
    padding-right: 44px;
    height: 230px;
    border-radius: 12px;
    overflow-y:scroll;
    position: relative; /* Ensures child elements with sticky positioning respect this container */
  }

  .transactions-titles{
    background-color: white; /* To avoid overlapping background issues */
    font-weight: bold;
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: sticky; /* Makes the titles stick */
    top: 0; /* Sticks to the top of the container */
    z-index: 10; /* Ensures it stays on top of the scrolling content */
    padding: 4px 0; /* Adds some padding to make it more visually appealing */
  }

  .transactions-titles p{
    font-size: 24px;
    background-color: transparent;
    max-width: 133px;
    min-width: fit-content;
  }

  .transactions-input {
    background-color: transparent;
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .transactions-input-bg{
    background-color: transparent;
  }

  .transactions-input:hover{
    border-bottom: 2px solid black;
    border-radius: 2px;

    .transactions-input p{
      font-weight: bold;
      color: black;
    }
  }


  .transactions-input p{
    font-size: 20;
    color: #979797;
    font-weight:normal;
    display: flex;
    flex-direction: left;
    background-color: transparent;
    width: 133px;
  }
.transactions-titles button{
    color: white;
    font-size: 18px;   
    background-color: white;
    max-width: 133px;
    min-width: fit-content;
    border-style: none;
}
  .transactions-input button{
    font-size: 18px;
    background-color: white;
    max-width: 133px;
    min-width: fit-content;
    border-style: none;
    color: #979797;
  }

  .transactions-input button:hover{
    color: #c04848;
    cursor: pointer;
  }

  .view-all{
    position: sticky;
    bottom: 0;
    z-index: 10;
    padding: 8px 0;
    background-color: white;
    margin-top: 12px;
    display: flex;
    height: 16px;
    justify-content: center;
  }

  .view-all a{
    text-decoration: none;
    color: black;
    font-weight: lighter;
    background-color: transparent;
    font-size: 16px;
  }

  .view-all a:hover{
    cursor: pointer;
    font-weight: bold;
  }
  

  