/*
    Max-width to fit components
*/

@font-face {
    font-family: 'BarlowCondensed';
    src: url(../src/fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf),
    url(../src/fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    background-color: none;

}



.App{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 
